body{
  background-color: #f7fafd;
}
.owl-carousel .item {
  background: #ffffff;
  padding: 20px;
  text-align: center;
  color: #000000;
  font-size: 2em;
  border-radius: 10px;
}

/* Default opacity for side items */
.owl-carousel .owl-item {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

/* Full opacity for the center (active) item */
.owl-carousel .owl-item.active.center {
  opacity: 1 !important;
}

.owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.owl-nav button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
}

.owl-dots {
  text-align: center;
  margin-top: 15px;
}
.owl-nav .owl-next span,.owl-nav .owl-prev span{
  width: 20px !important;
  height: 0px !important;
  display:  block !important;
  font-weight: 700;
  font-size: 35px !important;
}


/* ==================================================================== */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.faq-answer.active {
  max-height: 200px; /* Adjust as needed */
  padding-top: 10px;
}

